.header {
    margin: 3rem 0;
    display: table;
    width: 100%;
}

.header .logo,
.header .menu,
.header .search {
    display: table-cell;
    vertical-align: middle;
}

.header .logo {
    width: 25%;
    position: relative;
}

.header .logo img {
    width: 30%;
}

.header .logo span {
    text-transform: uppercase;
    margin-left: 1rem;
    position: absolute;
    top: 30%;
    font-size: 1.7rem;
    font-weight: bold;
}

.header .menu {
    width: 45%;
    text-align: center;
}

.header .menu-inner {
    display: inline-block;
    position: relative;
}

.header .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.header .search {
    text-align: left;
}

.header .search-inner {
    position: relative;
    border: 1px solid #e6e6e6;
    border-radius: 1.25rem;
    overflow: hidden;
    box-sizing: border-box;
    -webkit-transition: border-color 0.25s ease;
    transition: border-color 0.25s ease;
    cursor: pointer;
    height: 30px;
    width: 95%;
    float: right;
    padding: 5px 0 5px 15px;
}

.header .search .hidden-submit {
    display: none;
}

.header .search input[name='query'] {
    width: 90%;
    outline: none;
    border: none;
    background: transparent;
    height: 100%;
    box-sizing: border-box;
    font-size: 0.875rem;
    font-weight: 400;
    padding: 0 1.25rem 0 0;
}